<header>
    <div class="zerogrid main wrap">
            <h1><a routerLink=""><img src="assets/images//logo.png" alt=""></a></h1> 
         <p>H#1826, Baridhara DOHS, Dhaka <span>+88 01685625220</span></p>
    </div>
    <nav>  
       <ul class="zerogrid menu">
           <li class="current first-child"><a routerLink="" class="home"><img src="assets/images//home.jpg" alt=""></a></li>
           <li><a routerLink="price-list">Price List</a></li>
           <li><a routerLink="about">About</a></li>
           <!-- <li><a routerLink="maintenance">Maintenance</a></li> -->
           <!-- <li><a routerLink="repair">Repair</a></li> -->
           <li><a routerLink="contact">Contact Us</a></li>
           <li><a href="https://sajedul.bdprogrammers.com/inventory">Admin</a></li>
       </ul>
       <div class="clear"></div>
     </nav>
</header>