<div class="slider zerogrid">
    <div class="rslides_container">
     <ul class="rslides" id="slider">
         <li><img src="assets/images//slide-1.jpg" alt="" /></li>
         <li><img src="assets/images//slide-2.jpg" alt="" /></li>
         <li><img src="assets/images//slide-3.jpg" alt="" /></li>
     </ul>
 </div>
</div>
<!--==============================content================================-->
<section id="content" class="zerogrid">
<div class="row block-1">
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images//page1-img1.jpg" alt="">
     <p class="text-1">Schedule <strong>Services</strong></p>
     <p class="upper"><a href="https://www.zerotheme.com" class="link" rel="nofollow" target="_blank">Click here</a> for more info about this free website templates  by Zerotheme.com.</p>
     <a href="#" class="button">Read More</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images//page1-img2.jpg" alt="">
     <p class="text-1">Preventive <strong>Maintenance</strong></p>
     <p class="upper">This website template is optimized for 1280X1024 screen res. It is also XHTML & CSS valid.</p>
     <a href="#" class="button">Read More</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images//page1-img3.jpg" alt="">
     <p class="text-1">Repair <strong>Services</strong></p>
     <p class="upper">The PSD source files of this theme are available for free for the registered members.</p>
     <a href="#" class="button">Read More</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images//page1-img4.jpg" alt="">
     <p class="text-1">Tire & Wheel <strong>Services</strong></p>
     <p class="upper">Feel free to get this free web template created  by Template Monster Team!</p>
     <a href="#" class="button">Read More</a>
 </div></div>
</div>
<div class="row block-2 wrap pad-2">
   <div class="col-1-2"><div class="box-2">
     <h2 class="clr-1">Reviews</h2>
     <div class="comments">
         <div>
             “Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.”
             <div class="comments-corner"></div>
         </div>
         <a href="#">dolor hendrerit</a>
     </div>
     <div class="comments">
         <div>
             “vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.”
             <div class="comments-corner"></div>
         </div>
         <a href="#">vulputate velit</a>
     </div>
 </div></div>
 <div class="col-1-2"><div class="box-3">
     <h2 class="clr-1">Our Services</h2>
     <div class="wrap">
         <div class="col-1-2">
         <ul class="list-1">
             <li><a href="#">Consetetur sadipscing</a></li>
             <li><a href="#">elitr sed diam nonumy</a></li>
             <li><a href="#">tempor invidunt utabore</a></li>
             <li><a href="#">et dolore magna aliquyam</a></li>
             <li><a href="#">erat sed diam voluptua</a></li>
             <li><a href="#">At vero eos et accusam et</a></li>
         </ul>
         </div>
         <div class="col-1-2">
         <ul class="list-1 last">
             <li><a href="#">Takimata sanctus est</a></li>
             <li><a href="#">Lorem ipsum dolor sit amet</a></li>
             <li><a href="#">Ipsum dolor sit amet</a></li>
             <li><a href="#">consetetur sadipscing </a></li>
             <li><a href="#">sed diam nonumy eirmod</a></li>
             <li><a href="#">tempor invidunt ut labore</a></li>
         </ul>
         </div>
     </div>
     <a href="#" class="button-2">Read More</a>
 </div></div>
</div>  
</section> 
<!--==============================footer=================================-->