<section id="content" class="zerogrid">
    <div class="sub-page">
        <div class="col-2-3"><div class="sub-page-left box-9">
          <h2 class="p4">Price List</h2>
          <table>              
              <tr>
                  <td>rebum. Stet clita</td>
                  <td>molestie conse</td>
                  <td>kasd gubergren, </td>
                  <td>invidunt ut labore</td>
              </tr>
              <tr *ngFor="let product of products">
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.id}}</td>
                  <td>{{product.id}}</td>
                  
              </tr>
             
              
          </table>
      </div></div>
      <div class="col-1-3"><div class="sub-page-right">
          <h2 class="p3">Most Popular</h2>
          <p class="upper p5"><a href="#" class="link">Product name #1</a><br>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <p class="upper p5"><a href="#" class="link">Product name #2</a><br>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <p class="upper"><a href="#" class="link">Product name #3</a><br>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <a href="#" class="button-2 top-1">Read More</a>
      </div></div>
    </div>  
 </section> 