<section id="content" class="zerogrid">
  <div class="sub-page">
      <!-- <div class="col-2-3"> -->
        

          <!-- Dashboard -->

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading" style="text-align: center;">
                    <strong>
                      <span class="glyphicon glyphicon-th"></span>
                      <hr>
                      <span >Dashboard Overview</span>
                    </strong>
                  </div>
                </div>
                
              </div>
              <a routerLink="users.php" style="color: black">
                <div class="col-md-3">
                  <div class="panel panel-box clearfix">
                    <!-- <div class="panel-icon pull-left bg-secondary1">
                      <i class="glyphicon glyphicon-user"></i>
                    </div> -->
                    <div class="panel-value pull-right">
                      <h2 class="margin-top">3</h2>
                      <p class="text-muted">Users</p>
                    </div>
                  </div>
                </div>
              </a>
          
              <a routerLink="categorie.php" style="color: black">
                <div class="col-md-3">
                  <div class="panel panel-box clearfix">
                    <!-- <div class="panel-icon pull-left bg-red">
                      <i class="glyphicon glyphicon-th-large"></i>
                    </div> -->
                    <div class="panel-value pull-right">
                      <h2 class="margin-top">2</h2>
                      <p class="text-muted">Categories</p>
                    </div>
                  </div>
                </div>
              </a>
          
              <a routerLink="product.php" style="color: black">
                <div class="col-md-3">
                  <div class="panel panel-box clearfix">
                    <!-- <div class="panel-icon pull-left bg-blue2">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div> -->
                    <div class="panel-value pull-right">
                      <h2 class="margin-top">2</h2>
                      <p class="text-muted">Products</p>
                    </div>
                  </div>
                </div>
              </a>
          
              <a routerLink="sales.php" style="color: black">
                <div class="col-md-3">
                  <div class="panel panel-box clearfix">
                    <!-- <div class="panel-icon pull-left bg-green">
                      <i class="glyphicon glyphicon-usd"></i>
                    </div> -->
                    <div class="panel-value pull-right">
                      <h2 class="margin-top">2</h2>
                      <p class="text-muted">Sales</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          
            <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>
                      <span class="glyphicon glyphicon-th"></span>
                      <span>Highest Selling Products</span>
                    </strong>
                  </div>
                  <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Total Sold</th>
                          <th>Total Quantity</th>
                        </tr>
                        <tr></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Vivo F17 Pro</td>
                          <td>1</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Hp i5</td>
                          <td>1</td>
                          <td>15</td>
                        </tr>
                      </tbody>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>
                      <span class="glyphicon glyphicon-th"></span>
                      <span>LATEST SALES</span>
                    </strong>
                  </div>
                  <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                        <tr>
                          <th class="text-center" style="width: 50px">#</th>
                          <th>Product Name</th>
                          <th>Date</th>
                          <th>Total Sale</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">1</td>
                          <td>
                            <a routerLink="edit_sale.php?id=9"> Vivo F17 Pro </a>
                          </td>
                          <td>2021-06-18</td>
                          <td>$225000.00</td>
                        </tr>
          
                        <tr>
                          <td class="text-center">2</td>
                          <td>
                            <a routerLink="edit_sale.php?id=10"> Hp i5 </a>
                          </td>
                          <td>2021-06-18</td>
                          <td>$600000.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>
                      <span class="glyphicon glyphicon-th"></span>
                      <span>Recently Added Products</span>
                    </strong>
                  </div>
                  <div class="panel-body">
                    <div class="list-group">
                      <a class="list-group-item clearfix" routerLink="edit_product.php?id=15">
                        <h4 class="list-group-item-heading">
                          <img
                            class="img-avatar img-circle"
                            src="assets/images//Vivo-F17pro.png"
                            alt=""
                          />
                          Vivo F17 Pro
                          <span class="label label-warning pull-right"> $15000 </span>
                        </h4>
                        <span class="list-group-item-text pull-right"> Mobile </span>
                      </a>
                      <a class="list-group-item clearfix" routerLink="edit_product.php?id=14">
                        <h4 class="list-group-item-heading">
                          <img
                            class="img-avatar img-circle"
                            src="assets/images//hp-i5.png"
                            alt=""
                          />
                          Hp i5
                          <span class="label label-warning pull-right"> $40000 </span>
                        </h4>
                        <span class="list-group-item-text pull-right"> Laptop </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          

        
      <!-- </div> -->
    </div>
</section>



